
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-Txt {
  width: 100%;
  height: 432.6rem;
  position: relative;
  overflow: hidden;
  background-color: #b2a4ff;

  .unsplash-gndf5nufru-pwr {
    height: 124.7rem;
    position: absolute;
    left: 0;
    top: 307.9rem;
    object-fit: cover;
    vertical-align: top;
    width: 144rem;
  }
  .unsplash-vey6fiob1ei-uyJ {
    position: absolute;
    left: 3.6rem;
    top: 196.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 144rem;
    height: 109rem;
  }
  .unsplash-k1bovtizss-CxQ {
    height: 87.5rem;
    position: absolute;
    left: 0;
    top: 108.6rem;
    object-fit: cover;
    vertical-align: top;
    width: 144rem;
  }
  .unsplash-gndf5nufru-vtQ {
    left: 0;
    top: 1.6rem;
    object-fit: cover;
    vertical-align: top;
    width: 144rem;
    height: 122rem;
    position: absolute;
  }
  .image-3-1-GBa {
    vertical-align: top;
    width: 58.9rem;
    height: 109rem;
    position: absolute;
    left: 0;
    top: 196.1rem;
    object-fit: cover;
  }
  .yellow-blur-BJY {
    position: absolute;
    left: 3rem;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 156.5rem;
    height: 31.3rem;
  }
  .yellow-blur-iJU {
    vertical-align: top;
    width: 23.5456rem;
    height: 464.6839rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
  }
  .side-3be {
    filter: blur(15rem);
    background-color: rgba(246, 31, 147, 0.400000006);
    width: 43.7rem;
    height: 429.8rem;
    position: absolute;
    left: 0;
    top: 2.8rem;
  }
  .side-JAC {
    position: absolute;
    left: 34.2rem;
    top: 2.8rem;
    filter: blur(15rem);
    background-color: rgba(246, 31, 147, 0.3199999928);
    width: 32.1rem;
    height: 443.4rem;
  }
  .side-EJk {
    top: 0;
    filter: blur(15rem);
    background-color: rgba(246, 31, 147, 0.2599999905);
    width: 70.8rem;
    height: 450rem;
    position: absolute;
    left: 37.9rem;
  }
  .about-MuA {
    left: 49.4rem;
    font-size: 5rem;
    line-height: 1.2125;
    color: #000000;
    width: 27rem;
    cursor: pointer;
    position: absolute;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 4.9rem;
    top: 6.5rem;
    font-weight: 400;
  }
  .skillset-Re8 {
    left: 80.4rem;
    font-size: 5rem;
    color: #000000;
    width: 22.9rem;
    height: 4.9rem;
    cursor: pointer;
    position: absolute;
    top: 6.5rem;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .education-hrY {
    height: 10.4rem;
    position: absolute;
    color: #000000;
    white-space: nowrap;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 52.1rem;
    cursor: pointer;
    left: 111.1rem;
    top: 6.5rem;
    font-size: 5rem;
  }
  .helloeveryone-im-jayshree-in-this-portfolio-youll-find-a-showcase-of-my-projects-skills-and-achievements-highlighting-how-i-bring-creativity-innovation-and-problem-solving-to-every-project-i-undertake-take-a-look-around-and-see-how-my-skills-and-experience-1MS {
    width: 75.9rem;
    height: 39.3rem;
    left: 1.9rem;
    line-height: 1.2125;
    font-style: italic;
    color: #4c0713;
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    top: 18.2rem;
    font-size: 3.6rem;
    font-weight: 400;
  }
  .image-2-1-1-xvt {
    width: 99.6rem;
    height: 70.3rem;
    position: absolute;
    left: 0;
    top: 51.6rem;
    object-fit: cover;
    vertical-align: top;
  }
  .rectangle-1-JE4 {
    position: absolute;
    left: 72rem;
    top: 123.6rem;
    filter: blur(15rem);
    background-color: rgba(255, 180, 180, 0.6999999881);
    border-radius: 0 0 0 30rem;
    width: 95rem;
    height: 64.2rem;
  }
  .machine-learning-cPA {
    top: 222.7rem;
    font-size: 4rem;
    font-weight: 700;
    font-style: italic;
    white-space: nowrap;
    position: absolute;
    left: 100.7rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 35rem;
    height: 4.9rem;
  }
  .a-bit-about-me-trU {
    font-weight: 700;
    color: #000000;
    width: 32.7rem;
    height: 4.9rem;
    font-size: 4rem;
    line-height: 1.2125;
    font-style: italic;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 96.1rem;
    top: 130.5rem;
  }
  .im-student-pursuing-bachelor-degree-in-artificial-intelligence-and-data-science-in-crescent-institute-of-science-and-technology-i-possess-strong-critical-thinking-problem-solving-and-analytical-abilities-D84 {
    position: absolute;
    font-weight: 400;
    line-height: 1.2125;
    font-style: italic;
    font-size: 3.5rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 42.7rem;
    height: 38.2rem;
    left: 94.9rem;
    top: 139.7rem;
  }
  .python-2rC {
    font-weight: 700;
    line-height: 1.2125;
    font-style: italic;
    white-space: nowrap;
    top: 222.5rem;
    height: 4.9rem;
    position: absolute;
    left: 64.8rem;
    font-size: 4rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 14rem;
  }
  .html-and-css-kGQ {
    font-style: italic;
    color: #000000;
    width: 26rem;
    height: 4.9rem;
    position: absolute;
    left: 104.4rem;
    font-weight: 700;
    top: 249.2rem;
    font-size: 4rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .skills-amE {
    left: 83rem;
    font-size: 8rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    font-weight: 700;
    font-style: italic;
    color: #000000;
    white-space: nowrap;
    width: 27.4rem;
    height: 9.7rem;
    position: absolute;
    top: 199.5rem;
  }
  .businesswoman-260nw-155754371-1previewrev1-1-VtC {
    vertical-align: top;
    width: 57.9rem;
    height: 62.4rem;
    position: absolute;
    left: 40.9rem;
    top: 128.7rem;
    object-fit: cover;
  }
  .home-bAY {
    height: 6.1rem;
    position: absolute;
    left: 22.1rem;
    line-height: 1.2125;
    white-space: nowrap;
    width: 15rem;
    top: 6.5rem;
    font-size: 5rem;
    font-weight: 400;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .rectangle-6-JKr {
    width: 45rem;
    height: 23rem;
    position: absolute;
    left: 96.5rem;
    top: 213.2rem;
    background-color: rgba(246, 31, 147, 0.2899999917);
    border-radius: 11.5rem;
  }
  .rectangle-8-QNt {
    width: 35.1rem;
    height: 23rem;
    position: absolute;
    left: 101.4rem;
    top: 241.6rem;
    background-color: rgba(246, 31, 147, 0.2899999917);
    border-radius: 11rem;
  }
  .rectangle-7-jRA {
    position: absolute;
    left: 58.5rem;
    top: 241.6rem;
    background-color: rgba(246, 31, 147, 0.2899999917);
    border-radius: 9.8rem;
    width: 35.1rem;
    height: 23rem;
  }
  .rectangle-10-TMA {
    height: 23rem;
    position: absolute;
    left: 60.3rem;
    top: 273.6rem;
    background-color: rgba(246, 31, 147, 0.2899999917);
    border-radius: 9.8rem;
    width: 35.1rem;
  }
  .rectangle-13-PVi {
    width: 50.5rem;
    height: 22rem;
    position: absolute;
    left: 1.7rem;
    top: 308.2rem;
    background-color: rgba(255, 171, 171, 0.2899999917);
    border-radius: 9.8rem;
  }
  .rectangle-15-WqE {
    height: 20.9rem;
    position: absolute;
    left: 5.2rem;
    top: 390.1rem;
    background-color: rgba(255, 171, 171, 0.2899999917);
    border-radius: 9.8rem;
    width: 84.2rem;
  }
  .rectangle-14-EmE {
    width: 72.1rem;
    height: 25rem;
    position: absolute;
    left: 3.6rem;
    top: 352.5rem;
    background-color: rgba(255, 171, 171, 0.2899999917);
    border-radius: 9.8rem;
  }
  .rectangle-11-ML4 {
    width: 35.1rem;
    height: 23rem;
    position: absolute;
    left: 103.5rem;
    top: 273.6rem;
    background-color: rgba(246, 31, 147, 0.2899999917);
    border-radius: 9.8rem;
  }
  .rectangle-9-5Wx {
    width: 35.1rem;
    height: 23rem;
    position: absolute;
    left: 58rem;
    top: 215.5rem;
    background-color: rgba(246, 31, 147, 0.2899999917);
    border-radius: 9.8rem;
  }
  .tableau-ohr {
    height: 4.9rem;
    position: absolute;
    top: 249.2rem;
    font-style: italic;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 15.6rem;
    left: 66.3rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2125;
    white-space: nowrap;
  }
  .power-bi-tjJ {
    height: 4.9rem;
    line-height: 1.2125;
    font-style: italic;
    white-space: nowrap;
    font-weight: 700;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 17.1rem;
    position: absolute;
    left: 66.8rem;
    top: 281.6rem;
    font-size: 4rem;
  }
  .javascript-1ov {
    line-height: 1.2125;
    font-style: italic;
    white-space: nowrap;
    width: 21rem;
    left: 110.8rem;
    top: 282.7rem;
    font-weight: 700;
    font-family: Inter, 'Source Sans Pro';
    height: 4.9rem;
    position: absolute;
    font-size: 4rem;
    color: #000000;
  }
  .education-vvt {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    height: 7.3rem;
    left: 7rem;
    top: 313.8rem;
    color: #000000;
    width: 29.6rem;
  }
  .bachelors-in-computer-science-and-engineeringcrescent-institute-of-science-technology-vandal-TA8 {
    width: 67.4rem;
    height: 14.6rem;
    top: 356.3rem;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    left: 7rem;
    color: #000000;
  }
  .class-11-12-in-bio-computer-science-the-velammal-international-school-VsW {
    position: absolute;
    left: 7.4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 82rem;
    height: 9.7rem;
    top: 395.4rem;
    font-size: 4rem;
  }
}
